In [5]:
import pandas as pd

In [8]:
# Hide both the column and row header in "ex5.csv" dataset and show the result
df = pd.read_csv("ex5.csv")
df.head()

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [ ]:
df.to_csv("out.csv", index=False, header=False)
#use this to check the output as github will not support
#!cat out.csv

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo